<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Agrinomicon" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link
      rel="shortcut icon"
      sizes="16x16 32x32 48x48 64x64"
      type="image/x-icon"
      href="/favicon.ico"
    />
    <link rel="icon" sizes="48x48" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="48x48" href="/favicon-48x48.png" />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css"
      type="text/css"
    />
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
